# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Google Credentials
google_credentials.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.idea/
.vscode/

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
bot.log

